/**** style1.min.css ***/
html {
    min-height: 100%;
    position: relative;
    height: inherit!important
}

body {
    font-size: 16px;
    height: 100%;
    line-height: 16px;
    margin: 0;
    min-height: inherit!important;
    padding: 0;
    position: static!important;
    top: inherit!important;
    width: 100%
}

a,abbr,acronym,address,blockquote,caption,code,dd,del,dfn,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,iframe,img,label,legend,li,object,ol,p,pre,q,span,table,tbody,td,tfoot,th,thead,tr,ul {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none
}

.field ul li {
    float: left;
    border: 1px solid #000;
    border-radius: 5px
}

.available,.field ul li {
    line-height: 12px;
    font-size: 12px;
    padding: 6px 10px;
    margin: 0 7px 10px 0
}

.available {
    border: 1px solid #ccc;
    background: #002562;
    color: #fff;
    cursor: pointer;
    border-radius: 5px
}

.prodAttr {
    margin-top: 10px;
    width: 100%;
    display: inline-block
}

.prodAttr hr {
    border: none;
    margin: 5px 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

blockquote,q {
    quotes: none
}

section.item {
    padding: 0
}

section.item p {
    line-height: normal
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

li {
    list-style: none;
    float: left
}

a img {
    border: none
}

a {
    cursor: pointer;
    outline: none
}

.clear {
    clear: both;
    overflow: hidden;
    width: 100%
}

.fltlft {
    float: left
}

.fltrt {
    float: right
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

#footer,#header,#wrapper {
    width: 100%;
    text-align: left;
    clear: both;
    overflow: hidden
}

.row {
    margin-left: 0;
    margin-right: 0
}

body.home {
    background: #f2c800 url(../img/banner.png) no-repeat 50% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center 0;
    background-size: 100%
}

.header-block {
    overflow: hidden;
    clear: both;
    background: #f0c400
}

.header-block-left {
    padding: 0;
    background: #fff
}

.header-block-right {
    padding: 0;
    overflow: hidden
}

.login-block {
    clear: both;
    margin-top: 1.5%;
    overflow: hidden;
    padding-right: 10%
}

.login-block a {
    padding: 10px 45px 10px 10px;
    line-height: 37px;
    display: block;
    background: #002663 url(../img/lock.png) 90% 7px no-repeat;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.text-block {
    overflow: hidden;
    clear: both;
    margin-left: 50px;
    margin-top: 20px
}

.text-block h2 {
    font-size: 25px;
    font-weight: 700
}

.text-block h1,.text-block h2 {
    color: #002663;
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.text-block h1 {
    font-size: 43px;
    font-weight: 400
}

.rewards {
    background: #616265;
    display: block;
    color: #fff
}

.rewards h2 {
    font-size: 30px;
    line-height: 50px;
    padding-left: 60px;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal
}

.banner-block {
    overflow: hidden;
    clear: both
}

.banner-block img {
    width: 100%
}

.header-top {
    overflow: hidden;
    clear: both
}

.header-top-left {
    padding: 0
}

.header-top-left a.logo {
    padding: 0 0 0 15px;
    display: block
}

.header-top-middle {
    padding: 0
}

.header-top-middle a.add-block {
    display: block;
    font-size: 33px;
    line-height: 47px;
    padding: 4%;
    text-decoration: none;
    transition: all .5s ease 0s;
    background: url(../img/perfomanec-bg.png) top no-repeat;
    background-size: 100% 100%;
    color: #002663
}

.header-top-right {
    float: right
}

.header-top-right ul.ShowCart-menu {
    margin-top: 2%;
    float: right
}

.header-top-right ul.ShowCart-menu li {
    text-align: center
}

.header-top-right ul.ShowCart-menu li a {
    white-space: nowrap;
    color: #606164;
    font-size: 15px;
    padding: 10px 25px
}

.header-top-right ul.ShowCart-menu li a span {
    color: #002663;
    font-family: Gotham A,Gotham B;
    font-style: normal;
    font-weight: 700
}

.header-top-right ul.ShowCart-menu li a.cart span {
    margin-left: 15px
}

.header-top-right ul.ShowCart-menu li a.cart {
    color: #002663;
    font-family: Gotham A,Gotham B;
    font-weight: 700;
    font-style: normal;
    padding: 10px 25px 10px 37px\9
}

.header-top-right ul.ShowCart-menu li a.cart,.header-top-right ul.ShowCart-menu li a.cart:hover {
    background: url(../img/cart.png) no-repeat scroll 0 9px;
    background-size: 23px 18px
}

.header-top-right ul.ShowCart-menu li a:hover {
    background: none
}

.header-bottom {
    background: #616265;
    border-radius: 0;
    border: none;
    min-height: auto;
    margin-bottom: 0
}

.header-bottom .navbar-collapse {
    padding: 0 15px 0 0
}

.menubar-left {
    padding: 0;
    margin: 0
}

.menubar-left li {
    padding: 15px 10px
}

.menubar-left.navbar-nav>li a {
    font-size: 14px;
    color: #fff;
    padding: 0;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid #616265;
    line-height: 20px
}

.menubar-left li a.active,.menubar-left li a:hover {
    background: none;
    border-bottom: 4px solid #f3cd00
}

.menubar-right li {
    background: #002663;
    border-left: 1px solid #fff
}

.menubar-right.navbar-nav>li a {
    font-size: 14px;
    color: #fff;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 17px;
    padding-top: 17px
}

.menubar-right.navbar-nav>li a:hover {
    background: none
}

.moblie-icons {
    display: none
}

.heading-block {
    overflow: hidden;
    clear: both;
    margin: 20px 0
}

.heading-block h2 {
    font-size: 30px;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal;
    color: #002663;
    margin-top: 20px
}

.contentpart,.contentpart-left {
    overflow: hidden;
    clear: both
}

.contentpart-left {
    padding: 0
}

.contentpart-left h3 {
    font-size: 20px;
    color: #002663;
    font-family: Gotham A
}

.contentpart-left h3 strong {
    font-size: 30px;
    color: #d97a23
}

.contentpart-left p {
    font-size: 15px;
    line-height: 25px;
    margin: 10px 0;
    width: 70%;
    font-style: normal
}

.contentpart-left p,.contentpart-left p i {
    font-family: Gotham A,Gotham B;
    font-weight: 400
}

.contentpart-left p i {
    font-style: italic
}

.contentpart-left ul {
    margin-top: 40px
}

.contentpart-left ul li {
    width: 48%;
    margin-right: 2%;
    text-align: center
}

.contentpart-left ul li.shopping {
    background: #002663 url(../img/arrow1.png) 92% no-repeat
}

.contentpart-left ul li.account {
    background: #d97a23 url(../img/arrow1.png) 92% no-repeat
}

.contentpart-left ul li a {
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    display: block;
    text-decoration: none;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.contentpart-right {
    padding: 0
}

.contentpart-right p {
    text-align: center
}

.contentpart-right p img {
    margin: 0 auto
}

.footer-bottom {
    overflow: hidden;
    clear: both
}

.footer-bottom h3 {
    font-size: 28px;
    color: #002663;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.footer-bottom .col-lg-5,.footer-bottom .col-lg-7 {
    padding: 0
}

.footer-bottom h6 {
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
    color: #606164
}

.footer-bottom h6,.footer-bottom p {
    font-family: Gotham A,Gotham B;
    font-style: normal;
    line-height: 20px
}

.footer-bottom p {
    font-size: 14px;
    font-weight: 400
}

.hot-block {
    background: url(../img/hot-bg.jpg) top no-repeat;
    background-size: 100% 100%;
    padding: 25px 0;
    position: relative
}

.hot-block .close-button {
    position: absolute;
    top: 3px;
    right: 5px;
    left: auto;
    display: none;
    z-index: 9999
}

.hot-block .close-button a {
    background: none repeat scroll 0 0 #002562;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 10px;
    padding: 4px 8px;
    text-decoration: none
}

.hot-block-inner {
    padding: 0
}

.hot-block-inner h2 {
    font-size: 40px;
    color: #fff;
    padding-top: 7%;
    text-align: center;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.hot-block-inner-left {
    float: left;
    width: 50%
}

.hot-block-inner-left img {
    width: 100px;
    height: 94px
}

.hot-block-inner-right {
    float: left;
    width: 50%;
    padding: 0 2%;
    overflow: hidden
}

.hot-block-inner-right h6 {
    font-size: 13px;
    line-height: 18px;
    color: #002663
}

.hot-block-inner-right a {
    position: absolute;
    bottom: 0;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal
}

.hot-block .col-lg-9,.product-block {
    overflow: hidden
}

.product-block {
    clear: both
}

.sidebar {
    padding: 0 15px 0 0;
    overflow: hidden
}

.sidebar h3 {
    background: #002562;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.category-menus-block {
    background: #efeff0;
    overflow: hidden;
    padding: 0 0 20px;
    min-height: 500px
}

.price-range {
    padding: 10px 20px 30px;
    overflow: hidden;
    clear: both
}

.price-range p label {
    color: #002562;
    font-weight: 400
}

.prange,.price-range p input,.price-range p label {
    float: left;
    font-size: 14px;
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.prange,.price-range p input {
    background: #efeff0;
    width: 50%;
    color: #002562!important;
    font-weight: 700
}

.pslider {
    margin-top: 30px
}

.category-menus {
    overflow: hidden;
    padding: 0 15px
}

.category-menus h4 {
    color: #d97a23;
    font-size: 20px;
    padding-bottom: 15px;
    font-family: Gotham A,Gotham B;
    font-weight: 700;
    font-style: normal
}

.category-menus ul li {
    width: 100%
}

.category-menus ul li a {
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal;
    background: url(../img/arrow%202.png) 2px 2px no-repeat;
    padding-left: 20px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
    color: #616265
}

.products-area {
    padding: 0 15px 0 0
}

.products {
    padding: 4px 15px 4px 4px;
    overflow: hidden
}

.products-area-top {
    clear: both;
    padding: 10px 0
}

.products-area-top-left {
    padding: 0
}

.products-area-top-left h1 {
    font-size: 14px;
    color: #002562;
    line-height: 18px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.products-area-top-left ul li {
    padding: 0 5px
}

.products-area-top-left ul li a {
    font-size: 15px;
    color: #616265
}

.products-area-top-left ul li.previous {
    border-right: 1px solid #000
}

.products-area-top-left ul li.next {
    border-left: 1px solid #000
}

.products-area-top-left ul li a strong {
    line-height: 19px;
    font-size: 17px
}

.products-area-top-right {
    padding: 0
}

.products-area-top-right input {
    height: 35px;
    float: left
}

.products-area-top-right label {
    font-size: 13px;
    font-weight: 400
}

.products-area-top-right button {
    height: 35px;
    background: #7e8084 url(../img/search.png) 5px 5px no-repeat;
    width: 35px;
    border: none;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0
}

.product-inner {
    border: 1px solid #616265;
    overflow: hidden;
    min-height: 310px;
    position: relative
}

.product-inner:hover {
    box-shadow: 1px 2px 16px #000
}

.product-inner .figger {
    margin: 20px 0;
    min-height: 90px
}

.product-inner .figger img {
    margin: 0 auto;
    display: block
}

.product-inner p {
    padding: 0 15px;
    font-size: 14px;
    color: #616265;
    line-height: 21px;
    min-height: 80px;
    font-weight: 700
}

.product-inner h6,.product-inner p {
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.product-inner h6 {
    color: #d97a23;
    font-size: 16px;
    min-height: 25px;
    padding: 8px 15px;
    font-weight: 400
}

.product-inner h5 {
    line-height: 45px;
    background: #002663;
    padding: 0 15px;
    width: 100%;
    bottom: 0;
    position: absolute
}

.product-inner h5 a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: url(../img/arrow1.png) 100% no-repeat;
    width: 100%;
    display: block;
    text-decoration: none
}

.product-inner h5 a,.product-inner h6 strong {
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.product-inner h6 strong {
    font-weight: 700
}

.product-links {
    display: none
}

.product-links ul li {
    width: 50%;
    background: #002663;
    border-left: 1px solid #fff
}

.product-links ul li:first-child {
    border-left: none
}

.product-links ul li a {
    line-height: 35px;
    display: block;
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: Gotham A,Gotham B;
    font-weight: 700;
    font-style: normal
}

.product-links ul li:active,.product-links ul li:focus,.product-links ul li:hover {
    background: #2a3d5b
}

.contentpart-left ul li.shopping:hover {
    background: #233858 url(../img/arrow1.png) no-repeat scroll 92%
}

.category-menus ul li a.active,.category-menus ul li a:hover {
    color: #002663
}

.menubar-right.navbar-nav>LI>A.active,.menubar-right.navbar-nav>LI>A:active,.menubar-right.navbar-nav>LI>A:focus,.menubar-right.navbar-nav>LI>A:hover {
    background: #f2ca00;
    color: #000
}

.menubar-right.navbar-nav>LI>A,.product-inner,.products-area,.sidebar {
    transition: all .5s ease 0s
}

.cart-icon {
    font-size: 30px;
    padding: 0
}

.cart-icon span {
    color: #002663
}

.cart-icon span:hover {
    color: #d97a23
}

.rewards img {
    display: block;
    position: fixed;
    width: 100%
}

.products-area-top-left ul.breadcrumbs li {
    padding: 0;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal
}

.products-area-top-left ul.breadcrumbs li a:after {
    content: " >  "
}

.products-area-top-left ul.breadcrumbs li:last-child a:after {
    content: ""
}

.products-area-top-left ul.breadcrumbs li a:hover {
    color: #002663;
    text-decoration: none
}

.products-area-top-right a.back-details {
    float: right;
    margin-right: 30px
}

.products-area-top-left p {
    font-size: 14px;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal;
    color: red
}

.product-detail-block {
    position: relative;
    margin-right: 15px;
    border-top: 1px solid #002663;
    padding-top: 10px
}

.images-block {
    z-index: 1
}

.product-detail-block-inner {
    min-height: 100px;
    padding-bottom: 15px
}

.product-detail-block-inner h4 {
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px
}

.product-detail-block-inner h4 strong {
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.product-detail-block-inner p {
    padding: 10px 10px 10px 0;
    overflow: hidden;
    font-size: 15px;
    line-height: 25px;
    font-family: Gotham A,Gotham B
}

.product-detail-block-inner ul {
    overflow: hidden;
    clear: both
}

.product-detail-block-inner li,.product-detail-block-inner ul li {
    width: auto;
    font-size: 15px;
    line-height: normal;
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal;
    list-style: inherit;
    margin-left: 0;
    float: none
}

.product-detail-block-inner ul.prodAttr_1 li {
    font-size: 12px;
    line-height: normal;
    margin: 0 7px 10px 0;
    padding: 6px 10px
}

.carting-block {
    border: 1px solid #000;
    overflow: hidden;
    clear: both;
    width: 100%;
    margin-top: 15px;
    background: #f0f0f0
}

.carting-block div {
    padding: 10px 5px
}

.carting-block-left {
    width: 60%;
    min-height: 54px;
    float: left
}

.carting-block-middle {
    width: 20%
}

.carting-block-middle p {
    float: right
}

.carting-block-right {
    width: 38%;
    float: right
}

.carting-block-right p,.carting-block-right p input {
    text-align: center
}

.carting-block-right p button {
    background: #002663;
    color: #fff;
    border-radius: 0
}

.add-to-wish .carting-block-right {
    float: right
}

.add-to-wish button {
    background: #002663;
    color: #fff;
    border-radius: 0
}

.tab-menus ul li a {
    text-decoration: none;
    background-color: #eee;
    border-color: #eee #eee #ddd;
    color: #000
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid;
    border-color: #ddd #ddd transparent
}

.user-details {
    padding-top: 15px;
    overflow: hidden
}

.user-details h4 {
    font-size: 20px;
    float: left
}

.user-details h4,.user-details h6 {
    line-height: 25px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.user-details h6 {
    float: right;
    font-size: 16px;
    color: #002663
}

.table-block {
    margin-top: 15px;
    clear: both
}

.Customer-Service-blocks {
    padding: 20px 15px;
    overflow: hidden
}

.Customer-Service-blocks-inner {
    border: 1px solid #000;
    padding: 10px;
    overflow: hidden
}

.Customer-Service-blocks-inner p {
    line-height: 25px
}

.Customer-Service-blocks-inner ul {
    margin-top: 10px
}

.Customer-Service-blocks-inner ul li {
    width: 100%;
    line-height: 30px
}

.Customer-Service-blocks-inner input {
    border-radius: 0;
    margin: 5px 0
}

.login-page {
    position: relative;
    background: url(../img/background6.jpeg) top no-repeat;
    background-size: 100% 100%
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff
}

.login-form,.login-form .panel-title {
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.login-form .panel-title {
    color: #002663;
    font-size: 16px
}

.login-form .panel-heading a {
    float: right;
    font-size: 80%;
    position: relative;
    top: -15px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.FEEDBACK-block {
    border: 2px solid #ccc;
    float: inherit;
    margin: 15px auto 45px;
    overflow: hidden;
    padding: 15px
}

.FEEDBACK-block h3 {
    font-size: 20px;
    color: #002663;
    font-family: Gotham A,Gotham B;
    font-weight: 700;
    font-style: normal;
    border-bottom: 1px solid #ccc
}

.FEEDBACK-block p {
    font-size: 15px;
    margin: 10px 0
}

.FEEDBACK-block p,form {
    font-family: Gotham A,Gotham B;
    font-weight: 400;
    font-style: normal
}

.noteis {
    color: red;
    font-size: 12px
}

.FEEDBACK-block input,.form-control {
    border-radius: 0
}

.form-control:focus {
    box-shadow: 0;
    border-color: #000
}

.form-horizontal .control-label {
    font-size: 14px;
    padding: 0
}

.sendbutton {
    color: #fff;
    display: block;
    font-family: GothamMedium;
    font-size: 16px;
    background: #002663
}

.contentpart table td {
    vertical-align: top
}

.contentpart table th {
    white-space: nowrap;
    font-size: 15px
}

.contentpart table a {
    color: #002663;
    font-weight: 700
}

.contentpart table a,.contentpart table p {
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.contentpart table p {
    font-size: 15px;
    font-weight: 400
}

.icon-trash-stroke {
    background: url(../img/sprite-16-black.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: 0 -7216px
}

.deleteWishItem {
    background-position: 0 -7216px;
    cursor: pointer
}

.tableFooter {
    padding: 10px 5px;
    background: #e2e2e2;
    border: #ddd
}

.btn-quaternary,.tableFooter button,.tableFooter button:focus,.tableFooter button:hover {
    float: right;
    background: #002663;
    color: #fff;
    border-radius: 0
}

.category-menus .panel-group {
    padding-top: 15px
}

.category-menus .panel-title a {
    width: 100%;
    float: inherit;
    display: block;
    text-decoration: none;
    color: #002663;
    font-size: 14px
}

.admin-from-block {
    padding: 15px 15px 15px 0
}

.admin-from-block h3 {
    font-size: 20px;
    color: #002562;
    line-height: 35px;
    border-bottom: 1px solid #999
}

.admin-from-block h3,.admin-from-block h4 {
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.admin-from-block h4 {
    font-size: 15px;
    color: #000;
    line-height: 20px
}

.admin-from-block .col-md-5 {
    padding: 0 15px 0 0
}

.admin-from-block .col-sm-4 {
    padding: 0
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    width: auto;
    padding: 10px;
    font-size: 15px;
    color: #333;
    border: 0;
    border-bottom: none
}

.checkbox label,.radio-inline,.radio label {
    line-height: 23px
}

.seledted-box1 select,.seledted-box select {
    width: 100%
}

form .row {
    padding-bottom: 10px
}

.submit-bar {
    padding: 10px
}

.submit-bar p {
    text-align: center
}

.createbutton {
    background: none repeat scroll 0 0 #002663
}

.Cancelbutton,.createbutton {
    border: none;
    color: #fff;
    font-family: Gotham A,Gotham B;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none
}

.Cancelbutton {
    background: none repeat scroll 0 0 red
}

.show-user-button label {
    font-size: 16px;
    font-weight: 400;
    line-height: 42px
}

.admin-from-block-left {
    padding-left: 0;
    margin-top: 15px
}

.admin-from-block-left form label {
    line-height: 18px
}

.admin-from-block-left form input[type=file] {
    border: 1px solid #999;
    padding: 2px;
    width: 230px
}

.admin-from-block-left form .form-group {
    margin-bottom: 40px
}

.admin-from-block-left h6 {
    font-size: 14px
}

.admin-from-block-right h6 {
    clear: both;
    font-size: 14px;
    overflow: hidden;
    padding: 5px 0
}

.admin-from-block-left p {
    padding: 10px;
    line-height: 18px;
    font-size: 14px
}

.admin-from-block-right {
    padding-right: 0
}

.admin-from-block-right form {
    margin-top: 30px
}

.selectedProgram {
    overflow: hidden;
    clear: both
}

.selectedProgram li {
    list-style: inherit;
    width: 90%;
    padding-bottom: 15px;
    margin-left: 20px;
    color: #000;
    line-height: 20px;
    font-size: 14px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal
}

.selectedProgram li a {
    color: #002562;
    font-size: 16px
}

body.home {
    position: relative
}

.login-form1 {
    left: auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0
}

.login-form1 .glyphicon {
    color: #fff
}

.input-group-addon {
    background: #2d2663;
    border-radius: 0
}

.login-form1 #btn-login {
    padding: 0 20px;
    line-height: 37px;
    background: #2d2663;
    border-radius: 0;
    border: none
}

.checkout .summary {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #d1d1d1;
    float: right;
    margin: 10px 5px;
    padding: 10px;
    text-align: right
}

.cartOptionsContainer {
    margin-top: 10px
}

#lblPayTaxes {
    color: maroon;
    display: block;
    margin-top: 20px
}

#btnCartCheckout {
    float: right;
    background: #002663;
    color: #fff;
    border-radius: 0;
    margin-top: 10px;
    line-height: 40px;
    display: block
}

.checkout .summary P {
    margin: 0 0 10px;
    padding: 5px;
    text-shadow: 1px 0 #fff
}

.order-block {
    border: 2px solid #ccc;
    float: inherit;
    margin: 15px auto 45px;
    overflow: hidden;
    padding: 15px
}

.order-block h3 {
    font-size: 20px;
    color: #002663;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px
}

.order-block h3,.order-block p {
    font-family: Gotham A,Gotham B;
    font-style: normal
}

.order-block p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    font-weight: 500
}

.footer-block {
    overflow: hidden;
    clear: both;
    background: #616265;
    padding: 10px 0;
    bottom: -37px;
    position: absolute;
    width: 100%
}

.footer-block p {
    font-size: 14px;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal;
    color: #fff
}

.btn.focus,.btn:focus,.btn:hover {
    color: #fff
}

.images-block:hover img {
    margin: 0 auto;
    height: auto;
    width: auto
}

.ShowCart-menu-bottom {
    float: right;
    margin: 5px 30px 0 0;
    clear: both;
    overflow: hidden
}

.ShowCart-menu-bottom li a {
    margin: 0 5px
}

.products-area-top-left form,.products-area-top-right .Sorting-points {
    float: right;
    margin-right: 15px
}

.products-area-top-right .search-block {
    float: right;
    margin-right: 15px;
    position: relative;
    width: 100%
}

.products-area-top-right .search-block1 {
    position: relative;
    width: 100%
}

.products-area-top-right .searchBar {
    padding: 0 40px 0 10px
}

.fillter-block-main {
    position: relative
}

#fillter-block {
    position: absolute;
    width: 99%;
    display: none;
    background: #fff;
    border: 1px solid #000;
    z-index: 1;
    overflow: hidden;
    clear: both;
    top: 85%
}

#fillter-block.opened {
    display: block;
    transition: all 1s ease 0s
}

#fillter-block .amount {
    background: #fff
}

#fillter-block .price-range {
    padding: 15px
}

.fillter-block-heading {
    background: #002562;
    margin: 0 15px;
    padding: 10px 0
}

.fillter-block-heading h4 {
    float: left;
    color: #fff;
    font-size: 16px
}

.fillter-block-heading a {
    float: right;
    color: #fff;
    font-size: 14px;
    text-decoration: underline
}

.pagenation-block {
    overflow: hidden;
    clear: both;
    padding: 10px 0
}

.pagenation-block ul {
    width: 300px;
    margin: 0 auto
}

.pagenation-block ul li {
    padding: 0 5px;
    color: #484848
}

.pagenation-block ul li a {
    color: #002562;
    font-size: 15px
}

.login-form .col-lg-6 {
    padding: 0;
    min-height: 320px
}

.login-form .tab-pane {
    width: 320px
}

.login-form .glyphicon {
    color: #fff
}

.login-form-right {
    box-shadow: 1px 1px 8px #000
}

.login-form-right .panel-info {
    border-color: transparent
}

.login-form-right p {
    font-size: 22px;
    text-align: center;
    padding: 20px 10px;
    line-height: 26px
}

.login-form-right button {
    background: none repeat scroll 0 0 #2d2663;
    border: none;
    border-radius: 0;
    line-height: 37px;
    padding: 0 20px
}

.login-form,.login-form-left {
    padding: 0 10px
}

.Editor-container {
    margin-top: 0
}

#loginform .input-group {
    clear: both
}

#inputError,input.inputError,select.inputError {
    border: 1px solid red!important
}

#google_translate_element {
    position: absolute;
    right: 37px;
    top: 8px
}

.menubg1 li a:hover {
    background: #d97a23!important;
    color: #000!important
}

.menubg2 li a:hover {
    background: #ecac00!important;
    color: #000!important
}

.menubg3 li a:hover {
    background: #616265!important;
    color: #000!important
}

.menubg4 li a:hover {
    background: #002663!important;
    color: #000!important
}

.menubg5 li a:hover {
    background: #f42b10!important;
    color: #000!important
}

.hot-block1 {
    background: #d97a23!important;
    background-size: 100% 100%
}

.hot-block1,.hot-block2 {
    top: center no-repeat;
    padding: 25px 0;
    position: relative
}

.hot-block2 {
    background: #ecac00!important;
    background-size: 100% 100%
}

.hot-block3 {
    background: #616265!important;
    background-size: 100% 100%
}

.hot-block3,.hot-block4 {
    top: center no-repeat;
    padding: 25px 0;
    position: relative
}

.hot-block4 {
    background: #002663!important;
    background-size: 100% 100%
}

.hot-block5 {
    background: #f42b10!important;
    top: center no-repeat;
    background-size: 100% 100%;
    padding: 25px 0;
    position: relative
}

.header-top-middle a.add-block1 {
    background: #d97a23 top no-repeat;
    background-size: 100% 100%
}

.header-top-middle a.add-block1,.header-top-middle a.add-block2 {
    display: block;
    font-size: 33px;
    line-height: 47px;
    padding: 4%;
    text-decoration: none;
    transition: all .5s ease 0s;
    color: #002663
}

.header-top-middle a.add-block2 {
    background: #ecac00 top no-repeat;
    background-size: 100% 100%
}

.header-top-middle a.add-block3 {
    background: #616265 top no-repeat;
    background-size: 100% 100%
}

.header-top-middle a.add-block3,.header-top-middle a.add-block4 {
    display: block;
    font-size: 33px;
    line-height: 47px;
    padding: 4%;
    text-decoration: none;
    transition: all .5s ease 0s;
    color: #002663
}

.header-top-middle a.add-block4 {
    background: #002663 top no-repeat;
    background-size: 100% 100%
}

.header-top-middle a.add-block5 {
    display: block;
    font-size: 33px;
    line-height: 47px;
    padding: 4%;
    text-decoration: none;
    transition: all .5s ease 0s;
    background: #f42b10 top no-repeat;
    background-size: 100% 100%;
    color: #002663
}

.menubar-left.menuheaderstrap1 li a.active,.menubar-left.menuheaderstrap1 li a:hover,.menubar-left.menuheaderstrap li a.active,.menubar-left.menuheaderstrap li a:hover {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #d97a23
}

.menubar-left.menuheaderstrap2 li a.active,.menubar-left.menuheaderstrap2 li a:hover {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #ecac00
}

.menubar-left.menuheaderstrap3 li a.active,.menubar-left.menuheaderstrap3 li a:hover {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #616265
}

.menubar-left.menuheaderstrap4 li a.active,.menubar-left.menuheaderstrap4 li a:hover {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #002663
}

.menubar-left.menuheaderstrap5 li a.active,.menubar-left.menuheaderstrap5 li a:hover {
    background: transparent none repeat scroll 0 0;
    border-bottom: 4px solid #f42b10
}

.menubar-left.menuheaderfontstrap li a {
    color: #fff
}

.menubar-left.menuheaderfontstrap1 li a {
    color: #d97a23
}

.menubar-left.menuheaderfontstrap2 li a {
    color: #ecac00
}

.menubar-left.menuheaderfontstrap3 li a {
    color: #616265
}

.menubar-left.menuheaderfontstrap4 li a {
    color: #002663
}

.menubar-left.menuheaderfontstrap5 li a {
    color: #f42b10
}

.menubar-right.navbar-nav.menuheaderstrap1>LI>A.active,.menubar-right.navbar-nav.menuheaderstrap1>LI>A:active,.menubar-right.navbar-nav.menuheaderstrap1>LI>A:focus,.menubar-right.navbar-nav.menuheaderstrap1>LI>A:hover {
    background: #d97a23;
    color: #000
}

.menubar-right.navbar-nav.menuheaderstrap2>LI>A.active,.menubar-right.navbar-nav.menuheaderstrap2>LI>A:active,.menubar-right.navbar-nav.menuheaderstrap2>LI>A:focus,.menubar-right.navbar-nav.menuheaderstrap2>LI>A:hover {
    background: #ecac00;
    color: #000
}

.menubar-right.navbar-nav.menuheaderstrap3>LI>A.active,.menubar-right.navbar-nav.menuheaderstrap3>LI>A:active,.menubar-right.navbar-nav.menuheaderstrap3>LI>A:focus,.menubar-right.navbar-nav.menuheaderstrap3>LI>A:hover {
    background: #616265;
    color: #000
}

.menubar-right.navbar-nav.menuheaderstrap4>LI>A.active,.menubar-right.navbar-nav.menuheaderstrap4>LI>A:active,.menubar-right.navbar-nav.menuheaderstrap4>LI>A:focus,.menubar-right.navbar-nav.menuheaderstrap4>LI>A:hover {
    background: #002663;
    color: #000
}

.menubar-right.navbar-nav.menuheaderstrap5>LI>A.active,.menubar-right.navbar-nav.menuheaderstrap5>LI>A:active,.menubar-right.navbar-nav.menuheaderstrap5>LI>A:focus,.menubar-right.navbar-nav.menuheaderstrap5>LI>A:hover {
    background: #f42b10;
    color: #000
}

.contentpart-left ul li.accountbutton {
    background: #ecae00 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountbutton1 {
    background: #d97a23 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountbutton2 {
    background: #ecac00 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountbutton3 {
    background: #616265 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountbutton4 {
    background: #002663 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountbutton5 {
    background: #f42b10 url(../img/arrow1.png) no-repeat scroll 92%
}

.contentpart-left ul li.accountfontbutton a {
    color: #fff
}

.contentpart-left ul li.accountfontbutton1 a {
    color: #d97a23
}

.contentpart-left ul li.accountfontbutton2 a {
    color: #ecac00
}

.contentpart-left ul li.accountfontbutton3 a {
    color: #616265
}

.contentpart-left ul li.accountfontbutton4 a {
    color: #002663
}

.contentpart-left ul li.accountfontbutton5 a {
    color: #f42b10
}

.productPageNav a.disabled {
    color: #bbb;
    cursor: default;
    text-decoration: none
}

.alert-error {
    color: #b94a48;
    border-color: #eed3d7;
    font-size: 18px;
    overflow: hidden
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    overflow: hidden
}

#productImage {
    background-color: #fff;
    border: 2px solid #fff;
    text-align: center;
    width: 200px;
    overflow: hidden
}

#productImage img {
    max-height: 306px;
    max-width: 200px
}

#productImage.bordered {
    border: 2px solid #662d91;
    box-shadow: 0 8px 10px #333;
    z-index: 100;
    position: absolute
}

#productImage.large img {
    max-height: 306px;
    max-width: 612px
}

#productDetailContainer {
    min-height: 316px;
    padding-left: 220px
}

#carttrigger span {
    line-height: 34px
}

#changePasswordAlertWrapper {
    clear: both;
    height: auto!important;
    overflow: hidden;
    margin-top: 15px!important
}

#changePasswordAlertWrapper ul li {
    line-height: 20px;
    padding: 5px 0
}

.contentpart-right h3 {
    text-align: center
}

.main-nav .dropdown-link:hover ul.dropdown-menu {
    display: block
}

.main-nav .dropdown-menu li {
    float: none;
    padding: 10px 0;
    text-align: center
}

.main-nav .dropdown-menu li a {
    color: #616265;
    font-family: Gotham A,Gotham B;
    padding: 0
}

.main-nav .open>a,.main-nav .open>a:focus,.main-nav .open>a:hover {
    background: #616265!important
}

table.report-table tr th {
    font-weight: 700;
    font-size: 13px;
    padding: 5px 0;
    border-bottom: 1px solid #999
}

@media (min-width:992px) {
    .header-top-middle a {
        height: 110px;
        overflow: hidden
    }
}

.chart-title {
    font-size: 13px;
    font-weight: 700;
    margin-top: 15px
}

a input.button {
    color: #333;
    font-size: 14px;
    text-decoration: none
}

a.moduleTitle,a.moduleTitle:active,a.moduleTitle:hover,a.moduleTitle:visited {
    text-decoration: none!important;
    color: #333!important
}

a.moduleTitle .fa.fa-minus-square {
    display: none
}

a.moduleTitle.active .fa.fa-minus-square {
    display: inline-block
}

a.moduleTitle.active .fa.fa-plus-square {
    display: none
}

label.error {
    font-weight: 700;
    color: red;
    margin: 5px 0;
    font-size: 14px
}

.btn-default:focus,.btn-default:hover {
    color: #333
}

ul.list-style {
    padding-left: 6px;
    margin-left: 25px
}

ul.list-style li {
    list-style: disc;
    padding: 0;
    margin: 5px 3px;
    float: none
}

ul li.list-group-item {
    float: none
}

.scrollable .bootbox-body {
    max-height: 500px;
    overflow-y: auto
}

.category-menus .fa-caret-right:before {
    font-size: 120%;
    margin-right: 3px
}

.btn span.glyphicon {
    opacity: 0
}

.btn.active span.glyphicon {
    opacity: 1
}

.srProfileImagesWrapper {
    border: 1px solid #000;
    padding: 10px
}

.srProfileImageCurrentWrapper {
    border: 1px solid #999;
    padding: 10px
}

.srProfileImage {
    margin-bottom: 10px;
    width: 110px;
    height: 110px;
    cursor: pointer;
    opacity: .8
}

.srProfileImage:hover {
    opacity: 1
}

.srProfileImageSelected {
    border: 1px solid #00f
}

#srProfileImageCurrent {
    width: 110px;
    height: 110px
}

#service-awards_wrapper .col-sm-6.text-left.col-sm-pull-3 .dataTables_filter {
    text-align: left
}

#service-awards_wrapper .col-sm-6.text-left.col-sm-pull-3 .dataTables_filter label {
    text-align: center
}

#service-awards_wrapper .col-sm-6.text-left .dataTables_filter label+p {
    display: inline;
    margin-left: 15px
}

#service-awards_filter label {
    font-weight: 700;
    width: 100%
}

#service-awards_filter input {
    display: block;
    font-weight: 400;
    width: 100%;
    margin-left: 0
}

.menubar-left.navbar-nav>li>div.withsubmenu ul li,.menubar-right.navbar-nav>li>div.withsubmenu ul li {
    display: none
}

.menubar-left.navbar-nav>li>div.withsubmenu,.menubar-right.navbar-nav>li>div.withsubmenu {
    font-size: 14px;
    color: #fff;
    font-family: Gotham A,Gotham B;
    font-weight: 500;
    font-style: normal;
    padding: 15px 10px;
    line-height: 20px;
    transition: all .5s ease 0s;
    cursor: pointer
}

.menubar-left.navbar-nav>li>div.withsubmenu a,.menubar-left.navbar-nav>li>div.withsubmenu a:hover {
    border-bottom: 4px solid transparent
}

.menubar-right.navbar-nav>li>div.withsubmenu {
    padding: 17px 10px
}

.menubar-left.navbar-nav>li>div.withsubmenu ul,.menubar-right.navbar-nav>li>div.withsubmenu ul {
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 99
}

.notification-counter {
    z-index: 999
}

.menubar-left.navbar-nav>li>div.withsubmenu:hover ul li,.menubar-right.navbar-nav>li>div.withsubmenu:hover ul li {
    display: block
}

.menubar-left.navbar-nav>li>div.withsubmenu:hover,.menubar-right.navbar-nav>li>div.withsubmenu:hover {
    background: #f2ca00;
    color: #000
}

.menubar-left.navbar-nav>li>div.withsubmenu ul li a,.menubar-right.navbar-nav>li>div.withsubmenu ul li a {
    width: 158px;
    display: block;
    color: #000;
    background: #ddd;
    font-weight: 400;
    padding: 17px 15px;
    transition: all .5s ease 0s;
    border-bottom: none;
    text-transform: none;
    position: relative
}

.menubar-left.navbar-nav>li>div.withsubmenu ul li a {
    width: 200px
}

.menubar-left.navbar-nav>li>div.withsubmenu ul li {
    padding: 0
}

.menubar-left.navbar-nav>li>div.withsubmenu ul li a:hover,.menubar-left.navbar-nav>li>div.withsubmenu ul li a:hover:active,.menubar-left.navbar-nav>li>div.withsubmenu ul li a:hover:visited,.menubar-right.navbar-nav>li>div.withsubmenu ul li a:hover,.menubar-right.navbar-nav>li>div.withsubmenu ul li a:hover:active,.menubar-right.navbar-nav>li>div.withsubmenu ul li a:hover:visited {
    background: #f2ca00;
    text-decoration: none;
    border-bottom: none
}

.ShowCart-menu-bottom {
    margin-bottom: 5px
}

.menubar-right.navbar-nav>li a:hover {
    text-decoration: none
}
