/* .NULL {
color: #FCAA67; RAJAH
color: #333232; JET
color: #f7b2ad; MELON
color: #548687; WINTERGREEN
color: #473335; TAUPE
} */

html, body{
    margin: 0;
    padding: 0;
    font-family: "Zilla Slab",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
a:hover, a:active, a:focus, a:visited {
    outline: none;
}
nav {
    color: #fff;
    background-color: #333232;
    margin: 0 auto;
    padding: 0;
    top: 0;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    width: 25%;
    overflow: hidden;
}
nav img {
    margin: 0 auto;
    display: block;
    padding: 15% ;
    width: 5em;
    height: 5em;
}

.links {
    text-align: center;
    list-style: none;
    padding-left: 0;
    height: 50vh;
    font-weight: 700;
}
.links a {
    display: block;
    padding: 10% 0;
    text-decoration: none;
    color: #fff; 
    transition: ease all .3s;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.links a:hover {
    background-color: #fff;
    color: #333232;
}
.links a li {
    padding: 10px 0;
}
.social {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 20% 0;
}
.social a {
    color: #fff;
    text-decoration: none;
    opacity: .25;
}
.social a:hover {
    opacity: 1;
}
.social a  {
    max-width: 25%;
    fill: #fff;
}
.icon {
    width: 2em;
}

#copy {
    text-align: center;
    font-style: italic;
}

.hidden {
    display: none;
}

main input {
    position: fixed;
    border: none;
    font-family: "Zilla Slab", sans-serif;
    background-color: #fff;
    color: #333232;
    font-size: 1.5em;
    height: 8vh;
    padding: 1em;
    margin: 0;
    top: 0;
    left: 25%;
    width: 100%;
    font-style: italic;
    transition: ease all .3s;
}

main input:hover, main input:focus {
    outline: none;
    background-color: #333232;
    color: #fff;      
}

#searchResults {
    /* background-color: #333232aa; */
    position: fixed;
    height: 92vh;
    width: 75%;
    margin: 0;
    bottom: 0;
    background-color: #333232;
    overflow: hidden;
}
#searchResults a {
    font-weight: 700;
    line-height: 2.5em;
    padding: 0 2em;
    text-decoration: none;
    font-size: 2em;
    background: rgba(252,170,103,1);
    background: -moz-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,170,103,1)), color-stop(100%, rgba(247,178,173,1)));
    background: -webkit-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background: -o-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background: linear-gradient(to right, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaa67', endColorstr='#f7b2ad', GradientType=1 );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: capitalize;
    margin: 1em auto;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
main:nth-child(2) {
    padding-top: 5vh;
}
article {
    line-height: 1.6em;
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 2em;
}
article h1 {
    color: #333232;
    font-size: 1.8em;
    line-height: 1rem;
}
.anchorLink {
    background-image: url(img/link.svg);
    height: 20px;
    width: 20px;
}
.gradientBar {
    height: .5em;
    width: 100%;
    background-color: rgba(252,170,103,1);
    background-image: -moz-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,170,103,1)), color-stop(100%, rgba(247,178,173,1)));
    background-image: -webkit-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background-image: -o-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background-image: -ms-linear-gradient(left, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    background-image: linear-gradient(to right, rgba(252,170,103,1) 0%, rgba(247,178,173,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcaa67', endColorstr='#f7b2ad', GradientType=1 );
}
article time {
    color: #999898;
    font-size: 0.9em;
}
.tag {
    font-style: italic;
    font-size: 0.9em;
    float: right;
    color: #999898;
}
.tag:hover {
    color: #333232;
}
article p {
    max-width: 50rem;
    flex-wrap: auto;
    color: #333232;
}
article p a {
    color: #473335;
}
.readMore {
    font-size: .8em;
    height: 1rem;
    border: 1px solid #999898;
    padding: 1em;
    color: #999898;
    text-decoration: none;
}
.readMore:hover {
    border: 1px solid #333232;
    color: #333232;
}
#colophon {
    color: #999898;
}